.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suboverview {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 40px;
}

.topics {
  display: flex;
  flex-direction: row;
}
